.calendar{
    height: 90vh;
}
.rbc-toolbar {
    display: none;
}
.rbc-header + .rbc-header {
    border-left: none;
    background-color: #080808;
    color: white;
}
.rbc-header {
    border: none;
    color: white;
    padding: 10px;
    background-color: #080808;
}
/* Corpo caledario */
.rbc-date-cell {
    color: white;
    font-size: 15px;
    font-weight: normal;
}
.rbc-off-range-bg {
    background: #141414;
    color: #141414;
    opacity: 50%;
}
.rbc-month-row + .rbc-month-row{
    border-left: transparent;
    border-right: transparent;
    border-bottom:transparent;
    border-top: transparent
}
.rbc-month-view{
    border-left: 0.5px solid #141414;
    border-bottom: 0.5px solid #141414;
    border-top: 0.5px solid #141414;
    border-right: 0.5px solid #141414;
    border-radius: 10px;
}
.rbc-day-bg + .rbc-day-bg{
    border-left: 0.5px solid #141414;
    border-bottom: 0.5px solid #141414;
    border-top: 0.5px solid #141414;
    border-right: 0.5px solid #141414;
}
.rbc-day-bg {
    border-left: 0.5px solid #141414;
    border-bottom: 0.5px solid #141414;
    border-top: 0.5px solid #141414;
    border-right: 0.5px solid #141414;
}
.rbc-today{
    background: #141414;
}